/* Shame file  :) */
@font-face {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("http://fonts.googleapis.com/css?family=Lato:400,700");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 300;
}

.container-gutters {
  width: 92%;
  min-width: 13.75rem;
  max-width: 100rem;
  margin: 0 auto;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: middle;
}

.btn-link {
  background: none !important;
  border: none;
  color: white !important;
  font-weight: 300;
}

/* I don't know how else to prevent content getting hidden under the NavBar */
.top-element-margin {
  padding-top: 55px;
}

.UserAvatar {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.image-avatar {
  margin-left: 5px;
  margin-right: 5px;
}

.text-size-xx-small {
  font-size: 0.8125rem;
  line-height: 1.8461538462;
}

.clash-item__header {
  line-height: 1.3;
  font-weight: 200;
}
.comments__the-comment__time {
  color: #575757;
  font-size: 0.8125rem;
  line-height: 1.3;
}

.challenge h1 {
  color: #fff;
  font-size: 1.75rem;
  line-height: 1.7142857143;
  font-weight: 900;
}

.round-thumb {
  display: block;
  background-color: #fff;
  background-image: linear-gradient(
    0deg,
    #f6f6f6,
    transparent 24%,
    transparent
  );
  color: #6c757d;
}
.round-thumb:hover,
.round-thumb:focus {
  background-color: lightgray;
  color: #6c757d;
}

.clash-tile a {
  color: #333;
}

.clash-tile a:hover {
  color: #6c757d;
}

.clash-tile-waiting {
  font-size: 0.8125rem;
  line-height: 1.8461538462;
  font-weight: 300;
  color: #fff;
  text-align: center;
  background-color: #115e98;
}

.challenge input,
.challenge textarea {
  color: #fff;
}

.challenge input:focus,
.challenge textarea:focus {
  color: grey;
}

.current-round-intro,
.challenge {
  background: radial-gradient(
    ellipse at center,
    #3d3d3d 0%,
    #1f1f1f 44%,
    #000 100%
  );
  /* text-shadow: 0.0625rem 0.0625rem 0rem #000; */
  color: #fff;
}

.current-round-intro input,
.challenge textarea {
  color: #fff;
}

.current-round-intro strong {
  text-shadow: 0.0625rem 0.0625rem 0rem #000;
  color: #fff;
}

em {
  font-weight: 300;
}

.u-circle {
  border-radius: 100%;
}

.bg-grey {
  background-color: #e1e1e1;
}

.bg-grey-1 {
  background-color: #eee;
}

.bg-black {
  background-color: black;
}

.navbar a {
  color: white !important;
  font-weight: 300 !important;
}

strong {
  color: black;
}

a {
  color: #167ac6;
  text-decoration: none;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.3333333333;
}

h4 {
  font-size: 1rem;
  line-height: 1.3333333333;
}

ul,
ol {
  list-style-type: none;
}

@media (max-width: 576px) {
  .btn-play-all {
    bottom: 0;
    left: 0;
    width: 100%;
    left: auto;
  }
}

@media (min-width: 576px) {
  .btn-play-all {
    width: auto;
    border-radius: 20px 0 0 20px;
    top: 78px;
  }
}

.btn-play-all {
  position: fixed;
  z-index: 3;
  display: block;
  padding: 8px;
  padding-bottom: 9px;
  font-weight: 400;
  line-height: normal;
  right: 0;
  background: linear-gradient(325deg, #115e98 0, #167ac6 100%);
  color: #fff;
}

.btn-play-all:hover,
.btn-play-all:focus {
  color: #fff;
  background: #115e98;
  opacity: 1;
}

.youtube-playlist {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0px;
}

.label-version-tag {
  position: fixed;
  top: 100px;
  writing-mode: vertical-rl;
  z-index: 100;
  padding: 5px;
  padding-bottom: 20px;
  font-weight: 400;
  left: 0;
  background: linear-gradient(325deg, #013811 0, #02962f 100%);
  color: #fff;
  border-radius: 5px 5px 0 0  ;
  vertical-align: middle;
}
